
:root{

    --fc:blue;
}

body{

   transition: all  0.3s;
    background-color :whitesmoke;
    /* rgb(51, 51, 153); */
    
    background: linear-gradient(white);
    background-image:url("Areal-View-Campus.jpeg") ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left;
    background-size:cover ;
    backface-visibility: 10%;
    /* background-size:initial ; */

    /* 86rfz); */
    /* #333399
rgb(51, 51, 153) */
}
             


#search_here{
padding:5px;
padding-left: 3px;
padding-right:3px;
text-align: center;
/* background-color: beige; */
;
margin-left: 30%;
margin-right: 30%;
border-radius:40px;
transition: all 0.5s linear;
margin-bottom:100px;
background-color: rgba(150, 150, 150, 0.5)
/* background-color: rgb(128, 128, 128,0.5); */
/* background-:; */


}
#search_here:hover{
    
    /* background-color: rgb(255, 205, 243); */
    /* box-shadow: 0 0 10px rgb(107, 105, 105); */
     /* border: green 10px; */
     background-color: rgba(180, 180, 180, 0.5)
    
}
#h2_search{
   /* text-shadow: ; */
    font-family:'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


#Welcome{

    color: rgba(87, 40, 133, 0.856);
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    /* font-weight: 100; */
    margin-left: 25%;
    padding: 3%;
    margin-right:25%;
    font-size: auto;
    text-align:center;
    /* background-color: rgba(0, 162, 255, 0.836); */
    border-radius:40px;
    
       
}
#Welcome:hover{
    
    color:rebeccapurple;

}

#search_form{

    padding-top:1px;
    margin-top:1px;
    /* margin: 5px; */
    font-family: 'Lucida sans unicode';
    /* 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif */
    font-size: 20px;

}

#search_form:hover{
    /* background-color:lightblue; */
    border: 0;
}


#search_submit{
    background-color: black; color:#00ff00;
    border:0; border-radius: 10px;
    height:35px;
    font-size: 20px;
    padding: 7px;

    /* padding-bottom:7px; */
    margin: 2%;
    /* margin-right: 25%; */
    /* margin */
}



#but1{
background-color: black;color:rgba(0, 250, 225, 0.897);border-radius:12px;
border:none;
height:35px;
width:90px;
cursor:zoom-in;
margin: 10px;
transition: all  0.2s;
}


#but1:hover{
background-color: #00ff00 ; color:black ; border-radius:7px;
border:none;
}


#but1:active{
background-color: #00ff00 ; color:black ; border-radius:10px;
opacity:0.5;
border:none;
}

.blocks{
    background-color: lightblue;
    margin-right: 25%;
    margin-left: 25%;
    margin-bottom: 10%;
    padding:30px;
    text-align: center;
    border-radius: 30px;
    box-shadow: 0px 0px 5 grey;
    transition:all 0.3s;
    display: flex column;
        justify-content:flex-end;

}
.blocks:hover{
    box-shadow: 0 0 7px gray;

}

                        /* CB STYLE  */


    


