
.menus1{

    background-color: coral;
    border-radius:20px ;
    display: flex;
    
    justify-content:flex-end;
    align-content: flex-end;
    
}
.menus2{ 
    background-color: royalblue;
    padding: 15px;
     display: flex;
border-radius: 20px;

    justify-content:space-around !important;
    
    align-content: flex-end;
    flex-grow: 1;
 }
.menu{ 

padding:20%;
border-radius: 10px;
height: 1em;
width : 10em;
  background-color: pink;
  display: flex;
  justify-content: center;
 align-items: center;
}

.ofcs {
    background-color : pink;
    border-radius: 0px ;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;

    padding: 1.5%;
    float:left;
    transition: background-color 0.7s ease;
    display: flex; 
    justify-content: space;

    margin: 15px;
   
         }


.ofcs:hover{ 

background-color:aqua;

       }
        


.imgs img {
border-radius: 15px;
padding:1.5%; 
}

#office-1{

    margin-left: 23%;
     margin-right: 26%;
     margin:15px;
}
#office-2{

    margin-right: 26%;
    margin-left: 23%;
    margin: 15px;

}

#vitHeadLogo{ 
size: 19px;


}


a{ 
    text-decoration: none;
}


@media (max-width: 768px) {
    /* .options2 {
        flex-direction: column;
        align-items: center;
    }
  
    .menu {
        margin-bottom: 1rem;
    } */
  
    .divcontent {
        flex-direction: column;
        align-items: flex-start;
    }
  
    .imgp {
        margin-top: 1rem;
    }
  }
  
