body{

    background-color: white;


}

/* 1== outer div */


.Welcome {
            
  padding: 1.5%;
  text-align: center; 
  font-family: 'Gill Sans','Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size : 25px;
  color:rgb(22, 20, 20);
margin:1.5%;
margin-bottom:100px;
  
}


.options1{
  display:flex;
  justify-content: flex-end;
  
  /* background-color: ; */
} 
/*  2== inner  div */
 .options2{
padding: 10px;
/* padding-left: 50%; */
margin-top:30px;
margin-bottom: 50px;
border-radius: 40px;

   /* text-align: center; */
background-color: orange;
width:50%;
display: flex;
flex-direction:row;
justify-content:space-around;
/* justify-content: S; */

 }
.tb_ops{

   background-color: aqua;
   padding:10px;
   padding-bottom:20px;
   border-radius:20px;
   width:150px;
   height: 50px;
   margin:50px;
  /* justify-content: flex-end; */
   
   text-align: center;
   font-size: 50px;
   
}  


/* style="border-radius: 30px;box-shadow:0 0 5px grey ;" */
/* style="border-radius: 30px;box-shadow:0 0 5px grey ;" */


.Ab-1{
  background-color: whitesmoke;
  padding:30px;
  margin:15px;
  }

.ofcs{
    background-color : rgba(150,450,500,0.4);
    border-radius: 30px;
    padding: 1.5%;
    margin:2%;
    /* display: flex;
    justify-content: ; */
   font-family:  Calibri,'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
   font-size: 2em;
}
.divcontent{
  display: flex;
  justify-content: end;

}

.paras{

  /* background-color: blue; */
  text-wrap: wrap;
  font-size: 100px;
  }

  p{
    font-size: 20px;
    /* float: left; */
    /* font-family: ; */
      text-wrap: wrap;
  
  }

.imgs{
    
    border-radius: 10%;
    display: flex;
    justify-content: space-around;
    padding: 1.5%;
    margin: 1.5%;
    
}








